{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Image du livre à gauche -->
        <div class="col-md-5 mb-4">
            <img src="{{ book['image_url'] }}" class="img-fluid" alt="{{ book['title'] }}">
        </div>

        <!-- Informations sur le livre à droite -->
        <div class="col-md-7">
            <h2>{{ book['title'] }}</h2>
            <p><strong>Auteur :</strong> {{ book['author'] }}</p>
            <p><strong>Genre :</strong> {{ book['genre'] }}</p>
            <p><strong>Date de publication :</strong> {{ book['publication_date'] }}</p>
            <p><strong>ISBN :</strong> {{ book['isbn'] }}</p>
            <p><strong>Description :</strong></p>
            <p>{{ book['description'] }}</p>
            <p><strong>Stock disponible :</strong> {{ book['stock'] }}</p>
            <!-- Formulaire de suppression -->
            <form action="{{ url_for('delete_book', id_book=book['id']) }}" method="POST">
                {{ book_search_form.csrf_token }}
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}