{% extends "base.html" %}
{% block title %}Édition de la liste{% endblock %}
{% block content %}
{% if request.method == 'POST' %}
<div class="alert alert-warning">
  La liste n'a pas pu être ajoutée &#9785;
</div>
{% endif %}
<form method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Nom de la liste</label>
      {{ form.name(id='name', class_='form-control') }}  <!-- Utilisation de 'name' ici -->
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        {{ form.description(id='description', class_='form-control') }}  <!-- Utilisation de 'description' ici -->
    </div>
    <button type="submit" class="btn btn-primary">Soumettre</button>
    {{ form.csrf_token }}
</form>
{% endblock %}
